---
layout: page
title: Projects
header: Projects
group: navigation
---
{% include JB/setup %}

<h2>2014-2017 Mango: an environment for combining heterogeneous networks</h2>

<p>Mango Graph Studio development was motivated by the need for fast heterogeneous graph integration and analysis. The software has since been licensed to Complex Computation, LLC. I conceived and wrote the first line of Mango code in January 2014 while working toward a Ph.D. in Bioinformatics at Iowa State University.</p>

<ul>
  <li><a href="http://www.complex.iastate.edu/download/Mango/index.html">Download Mango</a></li>
  <li><a href="https://www.gitbook.com/book/j23414/mango-user-guide/details">Mango User Guide</a></li>
</ul>

<p>Mango was accepted as a Computer Demo at the 2016 Plant and Animal Genome (PAG) meeting.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HTNfK0HIfWw" frameborder="0" allowfullscreen></iframe>

<h2>2012-2014 Lucy2 v2.20: DNA cleaning and trimming</h2>

<p>Lucy2 is the GUI version of the Lucy command line program. To learn C++ and wxWidgets, I worked on the GUI update while part of Dr Hui-Hsien Chou's lab at Iowa State University in 2012.</p>
<ul>
  <li><a href="http://www.complex.iastate.edu/download/Lucy2/index.html">Download Lucy2</a></li>
  <li>Updated the GUI using wxWidgets. Updates included allowing multiple sequence files to be analyzed concurrently, new nucleotide color scheme, new FASTQ reader, and creating a settings dialog box validator.</li>
</ul>

<h2>2011 Visualizing Exon Junction Reads in R</h2>

<p>During my rotation in Dr. Di Cooks lab at Iowa State University in 2011, I had just started learning R and github and was documenting this mini-project in a blog.</p>

<ul>
  <li><a href="https://github.com/j23414/Exon-Junction-Arches">GitHub Site</a></li>
  <li><a href="https://jcrotone.wordpress.com">Blog</a></li>
</ul>

<h2>Testing GitBook Publishing</h2>

<p>This is just a test.</p>
<ul>
  <li><a href="http://j23414.github.io/book/index.html">Book</a></li>
</ul>


<!--
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
-->
