---
layout: page
title: Projects
header: Projects
group: navigation
---
{% include JB/setup %}

<h2>Mango: an environment for combining heterogeneous networks</h2>
<ul>
  <li><a href="http://www.complex.iastate.edu/download/Mango/index.html">Download Mango</a></li>
  <li><a href="https://www.gitbook.com/book/j23414/mango-user-guide/details">Mango User Guide</a></li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/HTNfK0HIfWw" frameborder="0" allowfullscreen></iframe>

<h2>Lucy2 v2.20: DNA cleaning and trimming</h2>
<ul>
  <li><a href="http://www.complex.iastate.edu/download/Lucy2/index.html">Download Lucy2</a></li>
  <li>I completed a GUI update in wxWidgets; adding multiple notebook pages, new color scheme, FASTQ reader, and parameter setting validator.</li>
</ul>

<h2>Visualizing Exon Junction Reads in R</h2>
<ul>
  <li><a href="https://github.com/j23414/Exon-Junction-Arches">GitHub Site</a></li>
  <li><a href="https://jcrotone.wordpress.com">Blog</a></li>
</ul>
<!--
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
-->
