---
layout: page
title: Projects
header: Projects
group: navigation
---
{% include JB/setup %}

<h2>Mango: an environment for combining heterogeneous networks</h2>
<ul>
  <li><a href="http://www.complex.iastate.edu/download/Mango/index.html">Download Mango</a></li>
  <li><a href="https://www.gitbook.com/book/j23414/mango-user-guide/details">Mango User Guide</a></li>
</ul>

<h2>Visualizing Exon Junction Reads in R</h2>
<ul>
  <li><a href="https://github.com/j23414/Exon-Junction-Arches">GitHub Site</a></li>
  <li><a href="https://jcrotone.wordpress.com">Blog</a></li>
</ul>
<!--
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
-->
